server_files/db_schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="FieldType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(VARCHAR\(\d+\))|(INT)|(TEXT)|(BLOB)|(REAL)|(DATE)|(TIMESTAMP)|(DATETIME)|(BOOLEAN)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="auto_increment" type="xs:boolean" use="optional"/>
        <xs:attribute name="not_null" type="xs:boolean" use="optional"/>
        <xs:attribute name="default" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="TableType">
        <xs:sequence>
            <xs:element name="Field" type="FieldType" maxOccurs="unbounded" minOccurs="1"/>
            <xs:element name="Primary" type="PrimaryType" maxOccurs="1" minOccurs="1">
                <xs:unique name="PrimaryFieldNameKey">
                    <xs:selector xpath="Column"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="Unique" type="UniqueType" maxOccurs="unbounded" minOccurs="0">
                <xs:unique name="UniqueFieldNameKey">
                    <xs:selector xpath="Column"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="Index" type="UniqueType" maxOccurs="unbounded" minOccurs="0">
                <xs:unique name="IndexFieldNameKey">
                    <xs:selector xpath="Column"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>
            <xs:element name="Foreign" type="ForeignType" maxOccurs="unbounded" minOccurs="0">
                <xs:unique name="ForeignFieldNameKey">
                    <xs:selector xpath="Column"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>

    <xs:complexType name="KeyType">
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>

    <xs:complexType name="PrimaryType">
        <xs:sequence>
            <xs:element name="Column" type="KeyType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UniqueType">
        <xs:sequence>
            <xs:element name="Column" type="KeyType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>

    <xs:complexType name="ForeignKeyType">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="foreign-field" use="required"/>
    </xs:complexType>

    <xs:complexType name="ForeignType">
        <xs:sequence>
            <xs:element name="Column" type="ForeignKeyType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="foreign-table" use="required"/>
    </xs:complexType>
    
    <xs:element name="Database">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Table" type="TableType" maxOccurs="unbounded" minOccurs="1">
                    <xs:unique name="fieldNameKey">
                        <xs:selector xpath="Field"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                    <xs:keyref name="fieldNameKeyRef" refer="fieldNameKey">
                        <xs:selector xpath=".//Column"/>
                        <xs:field xpath="@name"/>
                    </xs:keyref>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="globalFieldNameKey">
            <xs:selector xpath=".//Field"/>
            <xs:field xpath="@name"/>
        </xs:key>
        <xs:unique name="globalTableNameKey">
            <xs:selector xpath="Table"/>
            <xs:field xpath="@name"/>
        </xs:unique>
        <xs:keyref name="asdasd" refer="globalTableNameKey">
            <xs:selector xpath=".//Foreign/Column"/>
            <xs:field xpath="@foreign-table"/>
        </xs:keyref>
        <xs:keyref name="asdas1sd" refer="globalFieldNameKey">
            <xs:selector xpath=".//Foreign/Column"/>
            <xs:field xpath="@foreign-field"/>
        </xs:keyref>

    </xs:element>

</xs:schema>
