server_files/settings_schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="SettingType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(INT)|(STRING)|(BOOLEAN)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="default" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:element name="Settings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Setting" type="SettingType" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="settingNameKey">
            <xs:selector xpath="Setting"/>
            <xs:field xpath="@name"/>
        </xs:unique>
    </xs:element>

</xs:schema>
